body {
    background-color: red;
}

.kwadrat{
    display: inline-block;
    height: 250px;
    width: 250px;
    background-color: yellow;

}

.small-kwadrat{
            width: 50%;
			height: 50%;
            top: 25%;
            margin: 0 auto;
            position: relative;
			background:orange; 
}
.fa{
    
}
#icon{
    font-size: 68px;
     border: solid 0px;
    border-radius: 150px;
}

#grad{
    height: 50px;
    background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 

}

#foot{
  
    bottom: 0;

}

#zdjecie{
    width: 350px;
    height: 259px;
}
#zdjecie:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
}
#pulse{
    color: green;
    font-size: 26px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 10%;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite; 
    opacity: 0.0;
}